################################################################################
# TERRAFORM
################################################################################
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl
terraform.tfvars
terraform.tfvars.json
*.backup
tfplan

# Ignore Terraform sensitive
*.pem
*.key
*.p12
*.crt

################################################################################
# KUBERNETES / K8S
################################################################################
.kube/
*.kubeconfig
*.yaml~ 
*.yml~

################################################################################
# DOCKER
################################################################################
docker-compose.override.yml
docker-compose.local.yml
.docker/
.dockerignore

################################################################################
# AWS / CLOUD
################################################################################
aws/
credentials
config
.dist/
awscliv2.zip
################################################################################
# ENV FILES (VERY IMPORTANT)
################################################################################
.env
.env.*
!.env.example

################################################################################
# NODE / NPM / YARN / PNPM
################################################################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
package.json
package-lock.json

################################################################################
# PYTHON
################################################################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.env/
.venv/
venv/

################################################################################
# LOGS
################################################################################
*.log
logs/
debug.log
iam_policy.json
*.txt


################################################################################
# EDITOR / IDE FILES
################################################################################

# VSCode
.vscode/
history/
.code-workspace

# JetBrains IDEs
.idea/

# Sublime
*.sublime-project
*.sublime-workspace

################################################################################
# OPERATING SYSTEM FILES
################################################################################
.DS_Store
Thumbs.db
desktop.ini

################################################################################
# PHP / LARAVEL PROJECTS (if present)
################################################################################
vendor/
composer.lock

################################################################################
# MISC
################################################################################
*.tmp
*.temp
*~
